<!doctype html>
<html lang="en" ng-app="ShopTill">
  <head>
    <meta charset="utf-8">
    <title>Shop Till You Drop</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ngcart/dist/ngCart.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/js/shopTillController.js"></script>
  </head>

  <body ng-controller="ShopTillController as ctrl" >

  <div id="navbar">
    <span></span>
    <ngcart-summary></ngcart-summary>
  </div>
    <h3>Women’s Footwear</h3>
    	<ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Women’s Footwear'}">
    		<li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
    		</li>
    	</ul>
    <h3>Women’s Casualwear</h3>
      <ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Women’s Casualwear'}">
        <li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
        </li>
      </ul>
    <h3>Men’s Footwear</h3>
      <ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Men’s Footwear'}">
        <li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
        </li>
      </ul>
    <h3>Men’s Casualwear</h3>
      <ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Men’s Casualwear'}">
        <li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
        </li>
      </ul>
    <h3>Men’s Formalwear</h3>
      <ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Men’s Formalwear'}">
        <li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
        </li>
      </ul>
    <h3>Women’s Formalwear</h3>
      <ul class="list-group row" ng-repeat="inventory in ctrl.inventory | filter: { category:'Women’s Formalwear'}">
        <li class="list-group-item">
          <li>Name: {{inventory.name}} </li>
          <li>Price: £{{inventory.price}} </li>
          <li>Quantity: {{inventory.quantity}} </li>
          <ngcart-addtocart id="{{ inventory.id }}" name="{{ inventory.name }}" price="{{ inventory.price }}" quantity="1" quantity-max="30" data="inventory"> Add to Cart</ngcart-addtocart>
        </li>
      </ul>


<hr/>
    
  <ngcart-cart></ngcart-cart>

<hr/>

  <div class="row">
    <div class="col-md-12">
        
    <h3>Checkout <span> (ngcart-checkout)</span></h3>
        
        
        <div class="row">
    <div class="col-xs-4">
        <h4>service 'log'</h4>
        <ngcart-checkout service="log">Checkout</ngcart-checkout>
    </div>
    <div class="col-xs-4">
        <h4>service 'http'</h4>
        <ngcart-checkout service="http" settings="httpSettings">Checkout </ngcart-checkout>
    </div>
    <div class="col-xs-4">
        <h4>service 'paypal'</h4>
        <ngcart-checkout service="paypal" settings="payPalSettings"></ngcart-checkout>
    </div>
</div>
        
  </body>

  </html	