img {
	width: 250px;
	height: 220px;
	border: solid;
	}

#wf {
	 margin-top: 15%;
}

#cart {
	border: solid;
  border-radius: 20px;
  padding: 20px;
/*  float: right;
  position: static;
  top: 0;
  z-index: 999;*/
}

#cartSummary {
	color: black;
	background-color: white;
  float: right;
  font-size: 30px;
  padding-right: 15px;
  margin: 20px;
  padding-left: 10px;
  border-radius: 7px;
}

.inventory {
	border: solid;
  width: 287px;
  height: 390px;
}

.inner {
	margin: 0 auto;
}



